{:deps {:aliases [:dev :test]}
 :nrepl {:port 8778}
 :builds {:script {:target :node-script
                   :main humio.core/cli
                   :compiler-options {:optimizations :advanced}
                   :output-to "index.js"}
          :lib {:target :npm-module
                :output-to "index.js"
                :exports {:oak humio.core/cli}
                :compiler-options {:optimizations :advanced}}}}
